cycler==0.10.0
flake8==3.6.0
kiwisolver==1.0.1
matplotlib==3.0.1
mccabe==0.6.1
numpy==1.15.4
pycodestyle==2.4.0
pyflakes==2.0.0
pyparsing==2.3.0
pyqtgraph==0.10.0
pyrtlsdr==0.2.9
python-dateutil==2.7.5
scipy==1.1.0
six==1.11.0
